/* html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: 1rem;
}

form, #Create {
  margin-top: 1rem;
}

.Box {
  border: 0.1rem solid black;
  margin: 1rem auto;
  text-align: center;
  inline-size: min-content;
  padding: 1rem;
} */