html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: 1rem;
}

form, #Create {
  margin-top: 1rem;
}

.Type, #Create, #Remove, .OutputLabel, #Output {
  margin-left: 1rem;
}

#Output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  border: 0.1rem solid black;
  margin-top: 1rem;
  text-align: center;
}

.Box {
  border: 0.1rem solid black;
  margin: 1rem 0rem;
}

.Image{
  margin: 0.5rem;
}

.OutputLabel {
  margin-top: 1rem;
}