html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-top: 3rem;
}

form, #Create {
  margin-top: 1rem;
}

.Type {
  margin-top: 1rem;
}

#Output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-top: 1rem;
}

.Box {
  border: 0.1rem solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Image{
  margin: 0.2rem 1rem;
}

.OutputLabel {
  margin-top: 4rem;
}